header{
    width: 100%;
    height: 100px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

nav {
    padding: 18px 30px;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
}

nav img {
    width: 60px;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        font-size: 2rem;
        font-weight: 800;
    }
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

li {
    list-style: none;
    font-weight: 700;
}