.modal{
    width: 600px;
    height: 400px;
    background: rgb(180, 155, 248); 
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    
}



.container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20 ;
    display: flex;
    top: 0;
    left: 0;
}
.fechar{
    background: rgb(163, 238, 238);
    display: flex;
    position:relative;
    width: 18px;
    height: 18px;
    left: 140px;
    top: -180px;
    text-align: center;
}
.enviar{
display: flex;
width: 48px;
height: 20px;
background: rgb(163, 238, 238);
right: 150px;
margin-top: 40px;
right: 60px;
}
#senha{
background: rgb(163, 238, 238);
margin-top: 10px;;
width: 250px;
height: 25px;

}
#email{
    width: 250px;
    height: 25px;
    background: rgb(163, 238, 238);
}