.modal{
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 8px;
    
}



.container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 20 !important;
    display: flex;
    top: 0;
    left: 0;
}