.container{
width: 100%;
height: 100vh;
/* background: orange; */
display: flex;
justify-content: center;
align-items: center;
}
.main-card{
width: 90%;
min-height: 800px;
margin-top: 80px;
display: flex;
flex-direction: column;
row-gap: 20px;
padding: 20px 100px;
}

.banner {
  width: 100%;
  height:250px;
  background: pink;
  padding: 60px 90px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.banner img {
  width: 400px;
  height: 300px;
  bottom: 110px;
  left: 90px;
  transform: scaleX(-1);
  position: relative;
}

.wrapper{
  p{font-size: 3rem;
  max-width: 600px;
  }

  button{
    width: 85px;
    height: 40px;
    font-size: 1rem;
    background: rgb(162, 211, 211);
  }

}
.cards{
  width: 100%;
  min-height:350px;
  display: flex;
  gap: 20px;
  /* background: purple; */
  }

.card-image{
width: 320px;
height: 300px;
background: rgba(222, 222, 222, 0.9);
border-radius: 8px;
img{
  width: 300px;
}
}

.nomeProduto{
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  h1 {

    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    width: 120px;
    height: 40px;
    border: 1px solid black;
    background: transparent;
    border-radius: 32px;
  }

}
